<ion-header>
  <ion-toolbar class="ion-color center" [style.background-color]="toolbarColor">
    <ion-title> BABÁ PET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.background-color]="contentColor">
  <div class="cadastro-wrapper">
    <div *ngIf="!isCadastro">
      <div class="text-center" style="padding-top: 50%;">
        <ion-label class="font-color ">Termos de serviço</ion-label>
      </div>
      <div class="div-wrapper-choose-options">
        <div class="text-center">
          <ion-label class="font-color" style="line-height: 60px;" (click)="serBabaPet();">Ser babá de pets</ion-label>
        </div>
      </div>
      <div class="div-wrapper-choose-options">
        <div class="text-center">
          <ion-label class="font-color" style="line-height: 60px;" (click)="procurarBabaPet()">procurar por babá de pets
          </ion-label>
        </div>
      </div>

    </div>
    <div *ngIf="isCadastro">
      <div id="ser-baba-pet" *ngIf="tipoUsuario == 1">
        cadastrar baba pet
      </div>
      <div id="procurar-baba-pet" *ngIf="tipoUsuario == 2">
        procurar baba pet
      </div>
    </div>
  </div>
</ion-content>