<ion-header>
  <ion-toolbar>
    <ion-title>contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cadastro-wrapper">
    <div id="procurar-baba-pet" *ngIf="usuarioEscolhido && usuarioLogado.tipoUsuario == 1">
      <br>
      <ion-label class="font-color ">Nome: {{usuarioEscolhido.nome}} </ion-label><br><br>
      <ion-label class="font-color ">Tipo: {{usuarioEscolhido.tipo}}</ion-label><br><br>
      <ion-label class="font-color ">Raça: {{usuarioEscolhido.raca}}</ion-label><br><br>
      <ion-label class="font-color ">Data Nascimento: {{usuarioEscolhido.dataNascimento}}</ion-label><br><br>
      <ion-label class="font-color ">Características: {{usuarioEscolhido.descricao}}</ion-label><br><br>
      <ion-label class="font-color ">Observações: {{usuarioEscolhido.observacoes}}</ion-label><br><br>

      <div class="div-wrapper-choose-options">
        <div class="text-center">
          <ion-label class="font-color" style="line-height: 60px;" (click)="Recusar();">Recusar</ion-label>
        </div>
      </div>
      <div class="div-wrapper-choose-options">
        <div class="text-center">
          <ion-label class="font-color" style="line-height: 60px;" (click)="Aceitar();">Aceitar</ion-label>
        </div>
      </div>
    </div>

    <div id="procurar-baba-pet" *ngIf="usuarioEscolhido && usuarioLogado.tipoUsuario == 2">
      <br>
      <ion-label class="font-color ">Nome: {{usuarioEscolhido.nome}}</ion-label><br><br>
      <ion-label class="font-color ">Preço: {{usuarioEscolhido.descricaoPreco}}</ion-label><br><br>
      <ion-label class="font-color ">Data Nascimento: {{usuarioEscolhido.dataNascimento}}</ion-label><br><br>
      <ion-label class="font-color ">Tempo Disponível: {{usuarioEscolhido.tempoDisponivel}}</ion-label><br><br>
      <ion-label class="font-color ">Local: {{usuarioEscolhido.descricaoLocal}}</ion-label><br><br>

      <div class="div-wrapper-choose-options">
        <div class="text-center">
          <ion-label class="font-color" style="line-height: 60px;" (click)="Contatar();">Contatar</ion-label>
        </div>
      </div>
    </div>
  </div>

</ion-content>