<ion-header>
  <ion-toolbar>
    <ion-title>todosContatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cadastro-wrapper">

    <ion-item (click)="irParaContato();">
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>Maria Braga</h2>
        <p>00 000000-0000</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="irParaContato();">
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>Lucas Henrique</h2>
        <p>Contato Rejeitado</p>
      </ion-label>
    </ion-item>
  </div>

</ion-content>