<ion-header>
  <ion-toolbar>
    <ion-title>editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cadastro-wrapper">

    <div id="ser-baba-pet" *ngIf="usuario != undefined && usuario.tipoUsuario == 1">
      <ion-label class="font-color ">Cadastrar sua Conta no Babá Pet como Babá</ion-label>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [(ngModel)]="usuario.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Data de Nascimento</ion-label>
        <ion-input [(ngModel)]="usuario.dataNascimento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contato</ion-label>
        <ion-input [(ngModel)]="usuario.contato"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tempo Disponível</ion-label>
        <ion-textarea [(ngModel)]="usuario.tempoDisponivel"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descreva o local que os acolherá</ion-label>
        <ion-textarea [(ngModel)]="usuario.descricaoLocal"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descrição dos Preços</ion-label>
        <ion-textarea [(ngModel)]="usuario.descricaoPreco"></ion-textarea>
      </ion-item>
      <div class="div-wrapper-choose-options">
        <div class="text-center">
          <ion-label class="font-color" style="line-height: 60px;" (click)="salvar()">Salvar
          </ion-label>
        </div>
      </div>


    </div>

    <div id="procurar-baba-pet" *ngIf="usuario != undefined && usuario.tipoUsuario == 2">
      <ion-label class="font-color ">Cadastrar sua Conta no Babá Pet para encontrar uma Babá</ion-label>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [(ngModel)]="usuario.nome"></ion-input>
      </ion-item>
      <ion-label class="font-color ">Preencha com as informações de seu Pet</ion-label>
      <ion-item>
        <ion-label position="stacked">Tipo</ion-label>
        <ion-input [(ngModel)]="usuario.tipo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Raça</ion-label>
        <ion-input [(ngModel)]="usuario.raca"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Data de Nascimento</ion-label>
        <ion-input [(ngModel)]="usuario.dataNascimento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Como ele é?</ion-label>
        <ion-textarea [(ngModel)]="usuario.descricao"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Observações</ion-label>
        <ion-textarea [(ngModel)]="usuario.observacoes"></ion-textarea>
      </ion-item>

      <div class="div-wrapper-choose-options">
        <div class="text-center">
          <ion-label class="font-color" style="line-height: 60px;" (click)="salvar()">Salvar
          </ion-label>
        </div>
      </div>
    </div>
  </div>

</ion-content>