<ion-header>
  <ion-toolbar class="ion-color center" [style.background-color]="toolbarColor">
    <ion-title> BABÁ PET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="login" class="d-flex-login">
    <ion-icon name="logo-facebook" class="wrapper icon fb"></ion-icon>
    <ion-icon name="logo-instagram" class="wrapper icon insta"></ion-icon>
  </div>
  <div class="text-center">
    <ion-label (click)="irParaCadastro()" style="color: #2574a0">Cadastre-se</ion-label>
  </div>

</ion-content>

<ion-footer class="bg-color footer">
  <div class="text-center">
    <ion-label class="font-color">Termos de serviço</ion-label>
  </div>
</ion-footer>