<ion-header>
  <ion-toolbar class="ion-color center" [style.background-color]="toolbarColor">
    <ion-title>BABÁ PET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cadastro-wrapper">

    <div id="procurar-baba-pet" *ngIf="usuarioLogado.tipoUsuario == 1">

      <ng-container *ngFor="let pedido of pedidos">


        <ng-container *ngFor="let usuario of usuarios">
          <ion-item *ngIf="pedido.value.baba==usuarioLogado.key && pedido.value.procurador==usuario.key"
            (click)="irParaContato(usuario.key);">
            <!--<ion-avatar slot="start">
              <img>
            </ion-avatar>-->
            <ion-label>
              <h2>Dono: {{usuario.value.nome}}</h2>
              <h3>{{usuario.value.tipo}}</h3>
              <p>{{usuario.value.raca}}</p>
            </ion-label>
          </ion-item>
        </ng-container>
      </ng-container>


      <!--<ion-item (click)="irParaContato();">
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <ion-label>
          <h2>Dono: Leonardo</h2>
          <h3>Pássaro</h3>
          <p>Coruja</p>
        </ion-label>
      </ion-item>-->

    </div>

    <div id="procurar-baba-pet" *ngIf="usuarioLogado.tipoUsuario == 2">

      <ion-button color="secondary" (click)="mudarVisualizacao()">{{textoBotao}}</ion-button>
      <div class="map-container" [hidden]="textoBotao==='Mapa'">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div>



      <div [hidden]="textoBotao==='Lista'">
        <label>Filtro:</label>
        <input id="filtro" [(ngModel)]="filtro" style="width: 100vw; background-color: transparent; border: none;">
        <ion-spinner *ngIf="loading" name="lines" style="text-align: center; width: 100%;">
        </ion-spinner>
        <div *ngIf="loading == false && usuariosFiltrados != undefined">
          <ng-container *ngFor="let usuario of usuariosFiltrados">
            <ion-item *ngIf="usuario.value.tipoUsuario==1">
              <!--<ion-avatar slot="start">
              <img>
            </ion-avatar>-->
              <ion-label (click)="irParaContato(usuario.key);">
                <h2>{{usuario.value.nome}}</h2>
                <p>{{usuario.value.tempoDisponivel}} - {{usuario.value.distancia}}</p>
              </ion-label>
              <img src="../../assets/marker.png" style="height: 15px; width: 15px;">
            </ion-item>
          </ng-container>
          <ion-button color="primary" style="width: 99%;margin: 0 auto;" (click)="carregarMais()">Carregar mais
          </ion-button>
        </div>
      </div>





    </div>
  </div>
</ion-content>